[2014-11-25 19:10] mpapis opened #1 "move to RVM org"
Hi, I did not had chance to review it yet but from readme sounds interesting, would you be interested in moving to https://github.com/rvm?

[2014-11-25 20:12] #1 closed, assigned to nobody

[2016-12-19 22:00] artem-sidorenko opened #4 "RVM 1.28.0 is available"
[code]

Could you please update the PPA?

[2016-12-19 23:02] raelgc commented on #4
Hi @artem-sidorenko and thanks for raising this issue. I'm updating the package now :)

[2016-12-19 23:20] raelgc commented on #4
Fixed in commit 7a1bb4e. Package is building in Launchpad now and it'll be available in few minutes.

[2016-12-19 23:20] #4 closed

[2017-02-21 18:05] danielpclark opened #5 "Changelog not retrievable from apt"
From synaptic package manager:

[2017-02-21 19:39] raelgc commented on #5
Synaptic is not able to get changelog for apps in PPAs:

from https://bugs.launchpad.net/ubuntu/+source/synaptic/+bug/153966

Anyway, check the official [RVM changelog](https://github.com/rvm/rvm/blob/master/CHANGELOG.md).

[2017-02-21 19:39] #5 closed

[2017-03-14 12:06] dshuvar opened #6 "Cannot add PPA"
[code]

What am I doing wrong?

[2017-03-14 12:13] #6 closed

[2017-03-18 15:25] derrelldurrett opened #7 "Incorrectly ordered/formatted changes to user .profile/.bash* files"
After following the instructions, I get no `ruby` available at the command line (nor `irb` nor any other tools other than `rvm`).

I note that my `.bashrc` and similar files do not reflect the different paths for `rvm`, and so am wondering what other changes I should be aware of needing to make. For example, where should `PATH` be modified to point to `/usr/share/rvm/rubies/ruby-2.4.0/bin`?

[2017-07-12 10:23] juandelgado opened #8 "Installation on Docker fails"
Hello,

I'm trying to get RVM installed on Ubuntu, but using Docker which seems to complicate things quite a bit. This is the smallest Dockerfile that can reproduce the problem:

[code]
You can build that Dockerfile with something like this (Docker must be already installed):

`docker build -t ubuntu-rvm .`

`apt-get install -y rvm` fails. This is the problem, I think:

[code]

Anything obvious th

[2017-07-12 15:08] raelgc commented on #7
Aside logout and login, you need to make sure your terminal is running as a login shell.

[2017-07-12 15:16] raelgc commented on #8
Hi @juandelgado and thanks for raising this.

Indeed, `apt-add-repository` was not part of the first versions and it was included later. I like the idea about create a PR to mention it in docs! Please, go ahead!

The error is saying `/etc/profile.d/rvm.sh` is not present, but it should be created by `rvm` install (which is called before the `postinst` script.

Has your install failed before this e

[2017-07-12 16:07] juandelgado commented on #8
Hey hey.

You can see the full log in [this gist](https://gist.github.com/juandelgado/a26f05acb0bc4ba80847110b41829edc). There's nothing particularly wrong, other than some errors trying to configure dialogs, because this is all being run from the command line and inside Docker.

I thought the file would be created or copied before, but I [searched the repo for "rvm.sh"](https://github.com/rvm/ubu

[2017-07-12 18:20] raelgc commented on #8
This repo is only for the Ubuntu package, so I don't include the RVM files to avoid duplication.

Anyway, I just updated Xenial package to use rvm `1.29.2`.

I can see [in the installer](https://github.com/rvm/rvm/blob/8cba2caf709a13283ec534a38793e4aa27d7fab1/scripts/functions/installer) that `rvm` will use user home profile if `rvm_path` is pointing to it.

Is there any setup for `rvm_path` or so

[2017-07-12 21:54] juandelgado commented on #8
I'm not sure I understand the question.

If you are asking for my personal use case, then no. I'd be happy with whatever as long as it is a working RVM setup. The only thing to consider is that Docker is logged in as root by default which indeed seems problematic as per [RVM's docs](https://rvm.io/support/troubleshooting#sudo) (mentions our missing file):

Not sure where to go now : /

[2017-07-12 23:46] raelgc commented on #8
Maybe I should remove the call to `source /etc/profile.d/rvm.sh` from the `postinst` script.

[2017-07-14 12:51] raelgc commented on #7
Oh, after install rvm, you need to [follow the instructions to install a ruby](https://github.com/rvm/rvm#installing-ruby).

[2017-07-14 12:51] #7 closed

[2017-07-14 12:52] raelgc commented on #8
@mpapis, any thoughts? :)

[2017-07-19 08:42] mtarvainen commented on #8
Hi there!

I've ran into same issue as described here. As a quick&dirty way to get forward I created `/etc/profile.d/rvm.sh` file manually and got following notice:
[code]
I think it would be reasonable to remove that call from `postinst` script or add if statement that checks whether the file is present before calling it.

[2017-07-19 12:30] raelgc commented on #8
My proposed solution to the team (waiting feedback from @mpapis or @pkuczynski):

1. remove this `source` call, and
2. replace the info note in the package post install (to make clear user needs to logout/login)
2. a minor: remove the message about rvm no more adding user to groups, as the package does this

[2017-07-28 04:52] stepanselyuk commented on #8
In a Dockerfile (based on Ubuntu 16.04) I put it as:

[code]
Though not sure if `sudo -E` is needed.

[2017-08-02 15:40] beydogan opened #10 "Permission denied error on 17.04"
I have a fresh installation of Ubuntu 17.04. Installed the rvm using apt.

It fails when I try to install a ruby version.

`Warning: Failed to create the file ruby-2.4.0.tar.bz2.part: Permission denied`

Output:

[code]
How can I fix this issue?

[2017-08-02 15:49] beydogan commented on #10
Rebooting the computer worked :)

[2017-08-02 15:49] #10 closed

[2017-08-16 08:51] ggeldenhuis commented on #8
The same issue exists when installing rvm on Ubuntu 17.04. I am using puppet to install the ppa and then puppet again to install the rvm package. My puppet run fails because deb reported a problem
`/var/lib/dpkg/info/rvm.postinst: line 25: /etc/profile.d/rvm.sh: No such file or directory
dpkg: error processing package rvm (--configure):
 subprocess installed post-installation script returned error

[2017-08-16 17:43] raelgc commented on #8
@ggeldenhuis For now, a workaround is to add a step to `touch /etc/profile.d/rvm.sh` like suggested by @stepanselyuk.

[2017-08-16 17:56] ggeldenhuis commented on #8
@raelgc I tried that but I then just get other errors. I have not investigated it much further though. Will try and spend some more time on it tomorrow and post any other errors.

[2017-08-21 04:39] ChristianSedlmair opened #11 "Run Command as a Login-Shell (MAC-Terminal > SSH)"
Hello,
I'm working on a MAC and accessing the ubuntu by Terminal > SSH.
How can i activate "Run Command as a Login-Shell", like described in this Guide?
Best Regards,
Christian

[2017-08-21 14:32] raelgc commented on #11
Hi @ChristianSedlmair.

This repository is for the Ubuntu package for RVM. Are you sure you installed using this Ubuntu package?

Anyway,  go to your terminal emulator preferences and enable login shell (i.e., make it run `/bin/bash --login`). Make sure to fully close terminal and open it fresh after changing the setting.

[2017-08-21 16:07] ChristianSedlmair commented on #11
thanks, raelgc!

[2017-08-23 20:19] #11 closed

[2017-09-11 10:28] raelgc commented on #8
The yesterday RVM release is already using the package with the fix.

[2017-09-19 13:25] juandelgado commented on #8
Hey hey, thanks for the work on this!

Gave it a go, the original Docker file posted in the issue no longer errors out. This is the end of the installation log now:

[code]

Unfortunately `source` is not available on typical Docker installs and trying something like:

[code]

Throws an error: `rvm: not found`

It seems that `rvm` is just not in the `$PATH`. Calling `source` is not helping.

Though

[2017-09-19 15:14] raelgc commented on #8
Usually, for a normal user, a logout/login is required.

[2017-09-20 07:51] juandelgado commented on #8
Unfortunately @raelgc that's typically not an option when you are running inside Docker.

Is there anything that comes to mind that you think we could try?

Thanks,

[2017-09-20 13:26] raelgc commented on #8
@juandelgado I think this is out of the scope of this issue, because you need to relogin to be part of the `rvm` group and read the scripts. But there are [some alternatives](https://superuser.com/questions/272061/reload-a-linux-users-group-assignments-without-logging-out), like run something like `exec su -l $USER`.

[2017-10-24 01:43] oslyak opened #13 "Installation on Ubuntu 17.10 fails"
Err:12 http://ppa.launchpad.net/rael-gc/rvm/ubuntu artful Release
  404  Not Found

[2017-10-25 04:33] bibinvenugopal commented on #13
Even I have faced the same issue
When running

`sudo  apt-get update`

**http://ppa.launchpad.net/rael-gc/rvm/ubuntu artful Release
  404  Not Found
E: The repository 'http://ppa.launchpad.net/rael-gc/rvm/ubuntu artful Release' does not have a Release file.
N: Updating from such a repository can't be done securely, and is therefore disabled by default.
N: See apt-secure(8) manpage for repository c

[2017-11-01 05:26] gdledsan commented on #13
Work around : Change the distribution to zesty.

[2017-11-01 13:16] pkuczynski commented on #13
@raelgc can you maybe have a look?

[2017-11-06 16:38] guyellis commented on #13
@gdledsan (slightly off topic) my Google Foo didn't turn up any hints on how to change from Artful (17.10) to Zesty (17.04) - do you have any notes on doing this to solve this in the short-term?

[2017-11-06 17:38] gdledsan commented on #13
@guyellis there are two ways:
1) Open Software & updates, go to other sources, find the repo and select it, hit edit and change the distribution from artful to zesty

2) open up the terminal and send
`sudo nano /etc/apt/sources.list.d/rael-gc-ubuntu-rvm-artful.list`
you will see a line like>
`deb http://ppa.launchpad.net/rael-gc/rvm/ubuntu artful main`
change it to
`deb http://ppa.launchpad.net/ra

[2017-11-07 16:35] raelgc commented on #13
Package published in Artful. Sorry guys for the inconvenience.

[2017-11-07 16:35] #13 closed

[2017-11-09 17:52] gooryalhamed opened #14 "Terminal doesn't recongnize rvm after installation"
RVM is installed successfully on ubunto but terminal doesn't recognize the rvm command (command not found) even after running it as a login shell. How can I logout from the terminal in order to see changes?

[2017-11-09 20:24] raelgc commented on #14
You need to logout/login from your system account. If you're not sure, a reboot will solve.

[2017-11-09 20:24] #14 closed

[2017-11-14 19:28] amritk commented on #13
I ran into the same issue and tried @gdledsan's fix but it doesn't work, am I missing something?

[2017-11-14 19:48] gdledsan commented on #13
hey @amritk the release file is now added to the artful repo, so this issue should not happen. What error are you seeing?

[2017-11-14 19:51] amritk commented on #13
@gdledsan It was a different ppa causing the issue. I used the fix from
https://stackoverflow.com/a/23650993/1624255
and it now works.

[2017-11-16 11:51] raelgc commented on #8
Re-open if this is still an issue.

[2017-11-16 11:51] #8 closed

[2017-11-16 19:21] ColinHebert commented on #8
Sorry I might need to reopen that now. We still don't know why `/etc/profile.d/rvm.sh` doesn't get created in the first place, correct?

Some scripts/systems are relying on it.

[2017-11-16 19:47] raelgc commented on #8
It's not created because you're running the install as `root`. I've fixed this and you need to use the above linked alternatives to the required logout/login.

[2017-11-16 20:23] ColinHebert commented on #8
Sorry I have to ask you to indulge me a few questions.

Why is being root a problem in the first place, the install script handles that as far as I am aware.

Is the solution to do the logout/login before doing `apt-get install`? Can't/shouldn't that be part of the install process itself? It's meant to be installed through `apt`, so the expectation is that this should be executed by root in any ca

[2017-11-17 10:51] raelgc commented on #8
The install is ran by `root`, but later `rvm` is expecting you a normal user. Anyway, I fixed this few releases ago.

The logout/login is required after the install because you need to be part of the `rvm` group, and joining a new group takes effect only after a relogin.

Anyway, you can try the workarounds I [listed above](https://superuser.com/questions/272061/reload-a-linux-users-group-assignme

[2017-12-31 03:47] greggawatt opened #15 "Unable to install any rubies on ubuntu"
[code]

any guidance?

[2017-12-31 03:48] greggawatt commented on #15
I've increased the timeout, no luck

[2017-12-31 04:00] greggawatt commented on #15
I've also tried `rvm fix-permissions`

[2017-12-31 11:03] raelgc commented on #15
The problem is lack of write permission. Usually this happens when you try install `rvm` manually using `sudo`. Can you, please, remove all installations (with `rvm implode`), including this package (using `apt`), and start again using only this package?

[2018-01-01 06:38] greggawatt commented on #15
Hi there,
I got it working with a restart, Sorry about that.

Thanks!

[2018-01-01 06:38] #15 closed

[2018-02-03 19:40] gswartz777 opened #16 "No command 'rvm' found after installation"
I'm on KDE, went through the steps outlined to install rvm but when I try to run any rvm commands (after rebooting) I get the error

No command 'rvm' found, but there are 26 similar ones
rvm: command not found

Any idea what I can check?

[2018-02-03 20:23] gswartz777 commented on #16
I thought this would work since KDE is on ubuntu but then I tried this command and it all works now.

\curl -sSL https://get.rvm.io | bash -s stable

[2018-02-03 20:23] #16 closed

[2018-02-04 12:20] raelgc commented on #16
Hi @gswartz777.

This repo is to report errors related to the Ubuntu dedicated RVM package.

[2018-02-16 09:27] daancart2quote commented on #15
I had the same issue and a restart also fixed it, it might be nice to add a note in step 3 in https://github.com/rvm/ubuntu_rvm/blob/master/README.md about this.

[2018-02-16 10:07] mpapis commented on #15
no need to restart, logout/login should work just fine, and we have this step here: https://github.com/rvm/ubuntu_rvm/blob/master/README.md#3-logout-and-login

[2018-03-07 11:07] Rumbles opened #17 "Ubuntu 18.04 support"
I know it's only currently in Beta, but I was wondering if you plan on adding support for 18.04? I tried adding the PPA to my 18.04 beta machine and it complained there was no release file for bionic beaver.

Thanks

[2018-03-07 13:07] lpaulmp commented on #17
@Rumbles For sure man, feel free to open a PR with the support.

[2018-03-13 12:14] raelgc commented on #17
@Rumbles I just published the package for 18.04 on Launchpad. Let me know if it works.

[2018-03-13 12:14] #17 closed

[2018-03-28 10:47] raelgc commented on #8
@olegburca check this workaround to make sure your user is listed in the new group: https://superuser.com/questions/272061/reload-a-linux-users-group-assignments-without-logging-out

[2018-04-05 16:11] maxence33 commented on #17
Hi. I tried to install RVM today on 18.04 and got error

"The following packages have unmet dependencies:
 rvm : Depends: libreadline6 but it is not installable
E: Unable to correct problems, you have held broken packages."

[2018-04-05 17:35] maxence33 commented on #17
Ok this tutorial seems to work : https://gorails.com/setup/ubuntu/18.04
Think I followed the RVM install tutorial first place (Not sure why it then failed ...)

[2018-04-06 07:47] knzudgt opened #18 "migrate from installation with curl"
I installed rvm using the curl command, as suggested by the rvm website.
I wonder if is it possible to safely remove rvm and install the Ubuntu package, preserving rubies, gemsets and configuration files.

[2018-04-06 19:43] raelgc commented on #18
Hi @knzudgt!

Yes: usually a `rvm implode` and logout should be enough.

But just take a look on the steps described in [StackOverflow](https://stackoverflow.com/a/3558763/1604312) to make sure you removed all.

[2018-04-09 22:02] fgblomqvist opened #19 "libreadline6 issues on 18.04"
When trying to install rvm from the official rvm ppa on Ubuntu 18.04 I get the following error:
[code]
I tried manually installing libreadline6-dev, which worked fine, but I still get this error.

[2018-04-10 10:11] raelgc commented on #19
Hi @fgblomqvist and thanks for reporting this issue. I'll fix in the next hours and publish the new version.

[2018-04-10 12:47] raelgc commented on #19
@fgblomqvist I just published the package in the PPA. Can you run a `sudo apt update && sudo apt dist-upgrade` and tell me if it works fine?

[2018-04-10 19:07] fgblomqvist commented on #19
Ran those commands but still the same error :/

[2018-04-10 23:13] raelgc commented on #19
@fgblomqvist Can you, please, try again?

[2018-04-10 23:35] fgblomqvist commented on #19
Now it worked, thanks!

[2018-04-10 23:35] #19 closed

[2018-04-10 23:36] raelgc commented on #19
Yw! Thank you for reporting and testing!

[2018-04-19 16:43] aronlmin opened #20 "Step #2 does not take into account users who are running Ubuntu Server"
Because I was unable to do step 2 on ubuntu server, i now have big issues with my VM install's version of RVM

[code]
after canceling the install because of the errors, I ran `rvm get stable --auto-dotfiles`, this however fails to install and says to report failure to `https://github.com/rvm/rvm/issues`

[2018-04-19 17:31] #20 closed

[2018-04-26 17:01] raelgc commented on #18
Let me know if this is still an issue.

[2018-04-26 17:01] #18 closed

[2018-04-29 09:10] gianlucarizzo opened #22 "Can't install ruby interpreters after clean ubuntu install"
After a clean standard ubuntu install (i tried both 17.10 and 18.04), while running `rvm install 2.3.3` i get the following error:
[code]
Some months ago everything was working as expected.

I already checked that my user is under the `rvm` group and i am running bash as login shell.

[2018-04-29 09:57] gianlucarizzo commented on #22
After some more trial and error, i came to the conclusion that logging out and in from bash wasn't enough to get the 'rvm' group permissions. After a reboot the installation went smoothly.

[2018-04-29 09:57] #22 closed

[2018-04-29 16:14] arturoblanco opened #23 "Unable to install ruby 2.2 on Ubutnu 18.04"
### Error running '__rvm_make -j4'

- rvm version `1.29.03`
- after running `rvm install 2.2.2`:
[code]

[2018-04-30 11:56] raelgc commented on #23
Hi @arturoblanco and thanks for raising this issue. As we can see in the logs, `rvm` is installed, which is the purpouse of this repository package.

For issues with `rvm` usage, please check [`rvm` repo](https://github.com/rvm/rvm/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+Error+running+%27__rvm_make+-j4%27).

[2018-04-30 11:56] #23 closed

[2018-05-03 10:25] shushugah opened #24 "Ubuntu 18 issue installing ruby =< 2.3.x"
Ruby 2.4 installed like a charm,

openssl version on Ubuntu 17,18 is 1.1 while ruby 2.3.x requires 1.0
I  followied the instructions [here](https://www.linuxhelp.com/how-to-install-and-update-openssl-on-ubuntu-16-04/) to get openssl version to be `OpenSSL 1.0.2o`

I get this error when running `rvm install ruby 2.3.4`

[code]
### results of make.log
[code]

[2018-05-04 14:28] raelgc commented on #24
Hi @shushugah.

While this is not a package problem, but `rvm` problem, I think several users are facing this problem.

Can you please, try the following steps?

### 1. Add our GPG key:
    gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB

### 2. Fix folder permissions:
    rvmsudo rvm cleanup all

### 3. Get latest

[2018-05-08 11:00] AntonOfTheWoods commented on #24
I performed these exact instructions but get the following error
`me@chef-workstation:/media/sf_chef_dev/chef-central$ rvm install "ruby-2.3.1"
Searching for binary rubies, this might take some time.
No binary rubies available for: ubuntu/18.04/x86_64/ruby-2.3.1.
Continuing with compilation. Please read 'rvm help mount' to get more information on binary rubies.
Checking requirements for ubuntu.
Re

[2018-05-08 11:04] raelgc commented on #24
Are you installing `rvm` as root/sudo? (You should not). Are you performing a logout after install?

[2018-05-08 11:09] AntonOfTheWoods commented on #24
I am installing the rvm package from your ppa as root via Chef. My Chef code reboots the VM I'm installing on after it's first run, so the user is definitely logged out.

[2018-05-25 23:36] sentyaev commented on #15
@mpapis on ubuntu 18.04 logout/login not works for me, but after reboot `rvm install ruby` works just fine.

[2018-05-29 15:41] shadyueh opened #25 "Cannot add PPA"
I'm following the directions described in repository README but getting this error in step 1

[code]

[2018-05-29 20:43] shadyueh commented on #25
`lsb_release -a` output:
[code]

[2018-05-29 20:58] shadyueh commented on #25
Maybe It seems a problem with pubkey? I quit and followed rvm.io page instructions and when doing `\curl -sSL https://get.rvm.io | bash -s stable --ruby`, I was getting:

[code]
I tried import the key but needed install the gpgv2 because when using gpg (v1) it was failing. Then when I did:
`command curl -sSL https://rvm.io/mpapis.asc | gpg2 --import -`
It worked.

[2018-05-30 09:55] vmvwebworks opened #26 "The apt way"
I suggest to still with the common way rather than the apt way for ubuntu, missing ruby versions and issues while installing them.

[2018-05-30 16:43] raelgc commented on #25
The `rvm` pubkey is different then the Launchpad one (in Launchpad I have to use my personal). I tried in 16.4 and I was able to add the PPA successfully. Wondering if it was a temporary issue in Launchpad.

[2018-05-30 16:49] raelgc commented on #26
@vmvwebworks This official rvm .deb package install the same stable version then rvm site. So it offers the same available rubies. If you want new, you can call `rvm get master` in the same way.

The issue found in the package version are the same stable version (ssl, folder permissions, etc).

The advantages of the package over an installer are basically the same the when comparing with any other

[2018-05-30 16:49] #26 closed

[2018-05-31 22:27] ronhatch commented on #24
Getting the latest rvm via "rvm get master" breaks things horribly... when you then attempt to install ruby, it does this:
[code]
But the Ubuntu 18.04 package for rvm has metadata claiming to depend on libssl-dev, so rvm itself just got uninstalled by that command.

[2018-05-31 22:33] ronhatch commented on #24
I seem to be having the same core problem. During my investigation, I noticed that libreadline6-dev was being installed for the sake of dependencies, but Ubuntu 18.04 is substituting libreadline-dev instead without throwing an error. And libreadline-dev is at version 7.

(Which seems like utterly broken behaviour to me. No idea how hard it would be to get it changed upstream.)

[2018-06-01 00:35] raelgc commented on #25
You can even visit the PPA: https://launchpad.net/~rael-gc/+archive/ubuntu/rvm

[2018-06-01 00:35] #25 closed

[2018-06-01 00:43] raelgc commented on #24
@ronhatch I just pushed an updated package that removes the apt dependency of any `libssl-dev`, so `rvm` will handle it directly.

I.e., if you got able to run a `rvm get master`, you'll have fixes without break packages.

So, please, update your Ubuntu.

[2018-06-01 01:34] raelgc commented on #24
Ok, I just downloaded and installed a 18.04 VM and tested this.

After:

1 - Update Ubuntu to use the last PPA `rvm` package with removed `libssl-dev` dependency
2 - Update to latest `rvm` with `rvm get master`

I got able to install ruby `2.3.4`.

[2018-06-01 06:50] ronhatch commented on #24
Ah... yes, that seems to have done the trick on my system.

The only versions that didn't install correctly when I tried them were ruby-1.9.1, ruby-1.8.7, and ruby-1.8.6, but I'm pretty sure I don't have any projects still using those relics anyway.

Thanks!

[2018-06-03 23:05] raelgc commented on #24
@ronhatch Thanks for the report and testing. If you find the reason why 1.9.1, 1.8.7 and 1.8.6 are failing (and like 2.3.x they're related to package dependencies), feel free to open a new issue.

[2018-06-03 23:05] #24 closed

[2018-06-10 00:05] Amal-Vincent commented on #15
I had the same issue on ubuntu 18.04, logout/login does not work for some reason, restart does though

[2018-06-10 01:38] raelgc commented on #15
Ok, I've updated the `README` to suggest a restart.

[2018-06-19 10:44] maysam opened #27 "'~rael-gc' user or team does not exist."
when I run

`sudo apt-add-repository -y ppa:rael-gc/rvm`

it says

`Cannot add PPA: 'ppa:~rael-gc/ubuntu/rvm'.`
`ERROR: '~rael-gc' user or team does not exist.`

[2018-06-19 11:08] raelgc commented on #27
Hi @maysam. Can you just try again? Sometimes the Launchpad servers will go out for some minutes.

You can check this PPA exists in Launchpad: https://launchpad.net/~rael-gc/+archive/ubuntu/rvm

[2018-06-19 19:09] maysam commented on #27
@raelgc I tried a few times, same problem

[2018-06-19 20:23] raelgc commented on #27
Are you under a proxy?

[2018-06-20 10:59] maysam commented on #27
it worked on another machine, not sure what was wrong on my machine, that's for your time and your help

[2018-06-20 10:59] #27 closed

[2018-06-20 11:41] raelgc commented on #27
@maysam Sounds like a machine under a proxy. Maybe you want to take a look on instructions to [add-apt-repository to work through a proxy](https://askubuntu.com/questions/53146/how-do-i-get-add-apt-repository-to-work-through-a-proxy).

[2018-06-21 19:56] maysam opened #28 "no rvm group created"
I noticed that the installer didn't create an rvm group , is that a problem?

[2018-06-21 20:08] raelgc commented on #28
What is the output of `groups` command?

[2018-06-21 20:09] raelgc commented on #28
Make sure you've restarted your machine.

[2018-06-21 20:10] raelgc commented on #28
And please, output of `cut -d: -f1 /etc/group | sort`

[2018-06-21 20:14] maysam commented on #28
actually rvm is in this list

but when I run 'groups' command it doesnt list rvm

nevertheless
when I run
`rvm install 2.3.7`

i get an error

`Warning: Failed to create the file ruby-2.3.7.tar.bz2.part: Permission denied`

so I need to do
`rvmsudo rvm install 2.3.7`

is this normal?

[2018-06-21 20:20] raelgc commented on #28
Had you restarted your machine?

[2018-06-21 20:21] raelgc commented on #28
And `rvmsudo` is not required to install a ruby or create gemset.

[2018-06-21 21:19] maysam commented on #28
you are correct again, I had to restart

[2018-06-21 21:19] #28 closed

[2018-07-19 20:20] benjaoming commented on #22
You can also start a new shell session: `sudo su -l $USER` (verify group membership by running `id`)

[2018-11-03 08:35] iridakos opened #29 "Opening a new window/tab in a directory .ruby-version & .ruby-gemset specs are ignored"
## Description

When opening
- a new terminal window
  - from inside a **terminal** using the menu (or shortcuts) or
  - by choosing `Open in terminal` on a directory in **nautilus** or
- a new terminal tab

and the directory of the new window/tab has `.ruby-version` and `.ruby-gemset` files, rvm ignores them.

## Reproduce

### Terminal
1. `cd` to a directory with `.ruby-version` and `.ruby-gemse

[2018-11-03 16:53] raelgc commented on #29
Hi @iridakos,

If you're using gnome terminal at Ubuntu 14.04, this is not a `rvm` problem, it's a known bug of gnome terminal.

If you're not using gnome terminal in Ubuntu 14.04, please make sure that, after a system restart, you've marked your terminal to execute a login shell like stated in these instructions: https://github.com/rvm/ubuntu_rvm#2-change-your-terminal-window

[2018-11-03 18:12] iridakos commented on #29
Hi @raelgc and thank you for the response.

I am on Ubuntu 18.04 LTS and I am using the gnome terminal.
The profile is also set to execute a login shell.

Let me know if additional information would help.

Thank you for your time.

[2018-11-04 19:20] raelgc commented on #29
Np! Thanks for reporting this.

Can you, please, open this bug in the https://github.com/rvm/rvm/ repo? This repo will request you several details, but please, remember to mention that your terminal is already running as login shell.

[2018-11-05 08:08] iridakos commented on #29
I will! Thank ;)

[2018-11-05 08:08] #29 closed

[2018-11-06 15:17] johnmichaelbradley opened #30 "Support for Ubuntu 18.10"
Are there plans to support Ubuntu 18.10? Thanks!

[2018-11-09 11:08] vvavrychuk opened #31 "vagrant user is not added to rvm group"
In `ubuntu/xenial64` vagrant machine vagrant user (default one) is given with sudoers permissions via `/etc/sudoers.d/vagrant` and not by adding it to the `sudo` group.

Therefore ubuntu_rvm fails to add it to the `rvm` group.

From one side a good way for ubuntu_rvm to determine list of users with sudo permissions would be sudo command itself. Close match is something like `sudo -l -U user-name`

[2018-11-17 18:29] raelgc commented on #30
Just fired a build on the PPA for 18.10. Sorry for the late answer on this.

[2018-11-17 18:30] raelgc commented on #31
@vvavrychuk Do you mind to open a PR with this?

The script responsible for adding sudoers is the `postinst` in the debian package source: https://github.com/rvm/ubuntu_rvm/blob/master/debian/postinst

[2018-11-26 15:40] johnmichaelbradley commented on #30
Looks good. Thanks!

[2018-11-30 12:35] vvavrychuk commented on #31
@raelgc I have reported lack of scriptable version of 'sudo --list' here https://bugzilla.sudo.ws/show_bug.cgi?id=862.

[2018-12-14 21:11] grandchild opened #32 "zsh:1: command not found: rvm in post-install script"
Trying to install the package on Ubuntu 16.04.5 LTS the following happens and the package installation basically fails:

[code]

<details> <summary>Full log:</summary>

[code]

</details>

[2018-12-27 13:45] raelgc commented on #32
Hi @grandchild and sorry for the delay to answer this.

If you try `unset rvm_path` (maybe with `rvmsudo`) and then try again, it works?

Wondering if it's related to https://github.com/rvm/rvm/issues/3977

[2019-03-29 05:48] Thornybastard commented on #27
I'm having the same problem as this guy and I know I'm not behind a proxy. I'm using my home internet and no vpn or anything.

[2019-03-29 06:17] Thornybastard opened #33 "sudo apt-add-repository -y ppa:rael-gc/rvm"
OK, I'm a total noob to Ubuntu/linux. I've been through all the other related issues here and though most of it is Greek to me, I managed to try some of the fixes. None worked and I'm not behind a proxy, I'm using my home connection.

Every time I try: sudo apt-add-repository -y ppa:rael-gc/rvm

I get:
Cannot add PPA: 'ppa:~rael-gc/ubuntu/rvm'.
ERROR: '~rael-gc' user or team does not exist.

Looks

[2019-03-29 15:12] raelgc commented on #33
Hi @Thornybastard,

Please, check if any solution from this [topic](https://askubuntu.com/questions/863825/unable-to-add-ppa-in-my-newly-installed-ubuntu-16-04-lts) will help you.

[2019-03-30 20:34] Thornybastard commented on #33
No. None of them worked. And after I tried purging the ca-certificates, autoremove, and then reinstalling the ca-certificates, ALL of the connections failed and no ca-certificates were installed.

So then I tried reinstalling software-properties common first and then reinstall the ca-certificates, but that also failed. Could not even install software-properties common.

I've also tried installing

[2019-04-25 08:41] Blusten23 opened #34 "Failed to fetch http://ppa.launchpad.net/rael-gc/rvm/ubuntu/dists/eoan/main/binary-amd64/Packages"
I am trying to install rvm in docker:
FROM jenkins/jenkins:lts
...
RUN sudo apt-get install -y software-properties-common
RUN sudo apt-add-repository -y ppa:rael-gc/rvm
RUN sudo apt-get update && sudo apt dist-upgrade
RUN sudo apt-get install -y rvm --allow-unauthenticated

I get this error:
E: Failed to fetch http://ppa.launchpad.net/rael-gc/rvm/ubuntu/dists/eoan/main/binary-amd64/Packages  404

[2019-04-25 11:28] raelgc commented on #34
Hi @Blusten23. Which Ubuntu version is `eoan`?

[2019-04-25 11:30] raelgc commented on #34
In Launchpad I'm tied to the official Ubuntu versions (I cannot user other versions to build packages). If you really want to use this PPA, you'll need to find the related Ubuntu version that matches `eoan` and tweak your apt sources manually.

[2019-04-25 14:48] raelgc commented on #34
Just checked now that this is the name of the announced future version of Ubuntu announced few days ago, `Eoan`.

Of course, I still didn't test the package on that version, as it started to receive daily builds few hours ago.

I'll re-open, as probably in 4 months I'll need to publish on it, after the official release.

Wondering why you're trying to use that too alpha stage release...

[2019-04-25 15:35] Blusten23 commented on #34
@raelgc what do you mean by "alpha stage release"?
I am using jenkins offficial docker image and then install some stuff like docker, k8s and then rvm and ruby, there is no specific alpha release, or am i not noticing it?

[2019-04-26 15:09] raelgc commented on #34
@Blusten23 Ubuntu `eoan` started to get daily builds only YESTERDAY. There is not even alpha, beta or release candidate. It'll be released only in October. Something is wrong in your setup.

[2019-05-01 18:42] wytcld opened #35 "No /usr/share/rvm"
In fact, no "rvm" anywhere on the system. There is a /home/ubuntu/.rvm directory, but no "rvm." Yet the apt installation appeared to complete without error. This is with Ubuntu 18.04.

[2019-05-01 18:55] raelgc commented on #35
`rvm` folder will be created, of course, during the package install. Please, add the error log that happened during the install.

[2019-05-16 13:59] raelgc commented on #33
I'm closing this as the issue itself (cannot add PPAs) is not specially related to this package. Feel free to re-open if you think it's related or to share a solution.

[2019-05-16 13:59] #33 closed

[2019-05-16 14:00] raelgc commented on #32
@grandchild I'm closing this due the lack of feedback. If you have anything new to share, please, feel free to re-open this issue.

[2019-05-16 14:01] raelgc commented on #35
@wytcld Please, clarify one question: you installed using the dedicated PPA or you've installed using rvm.io?

And, again, please, can you attach the error log that happened during the package install?

[2019-06-06 11:17] aegatlin opened #36 "Discrepencies between freshly installed 'rvm' instructions and the README directions"
After installing rvm, there are instructions on how to proceed:

[code]

These instructions differ, or at least go unmentioned, in the README directions in this repo. As a new user, this is confusing.

### Expected behaviour
I expect the rvm terminal instructions to at least be mentioned in the README instructions. Moreover, I would prefer that they are incorporated.

[2019-06-06 16:33] raelgc commented on #36
Indeed, this is in my plate for some time. I'll update the instructions displayed in the terminal to be compatible with the README.

Just to make clear: the README instructions are updated. This package will add all sudoers to rvm group and automatically do all the setup. You just need, like stated in the README, restart.

[2019-06-11 16:43] fifiteen82726 commented on #10
Why reboot works but logout fails?

[2019-06-11 18:44] raelgc commented on #10
@pkuczynski Can you, please, help me to clarify that?

[2019-06-11 21:10] pkuczynski commented on #10
Rebooting should have nothing to do. Maybe restart the terminal? I dont know...

[2019-06-11 23:35] raelgc commented on #10
Logout and login is required due new group adding. But I don't know why reboot was required.

[2019-06-11 23:36] raelgc commented on #10
Hm, original submitter was not clear if he made a logout/login.

[2019-06-12 11:20] beydogan commented on #10
Yeah rebooting doesn't make sense to me either right now but I don't remember the issue, it was years ago :)

[2019-07-18 11:53] Sultan91 commented on #32
@raelgc No it doesn't work

[2019-07-18 20:21] sakego opened #37 "RVM package fails to configure on fresh Ubuntu 18.04 server install"
RVM package fails to configure during install.

## Steps to reproduce

•	apt-add-repository -y ppa:rael-gc/rvm
•	apt-get update
•	apt-get install rvm

## Expected behavior

For the package to install and rvm command be able to run.

## Actual behavior
apt-get install rvm
Do you want to continue? [Y/n]
Setting up rvm (1.29.9-1) ...
Upgrading the RVM installation in /usr/share/rvm/
Upgrade of RVM in

[2019-07-18 20:50] raelgc commented on #37
Hi @sakego and thanks for reporting this issue.

I'll download a copy of 18.04 and install in a VM in order to test this.

[2019-07-18 20:52] raelgc commented on #37
@sakego Had you tried to install rvm previously?

[2019-07-18 21:48] sakego commented on #37
@raelgc this is a fresh install with no previous install of RVM. The failure happened upon installing the first time. The message above indicating upgrading because whenever I try to install a new pkg it attempts to finish installing RVM and fails.

[2019-07-19 04:52] marcolussetti commented on #37
Same issue in Ubuntu for WSL (18.04.2).

[2019-07-19 19:11] azat-econify commented on #37
Same issue in Ubuntu 14.04.  Should I try using an older version?  I'm trying to install 1.29.9-1

[2019-07-19 19:13] numerica commented on #37
I have the same issue in Ubuntu 14.04.  I am trying to install the latest RVM, version 1.29.9-1.  Should I try to install the previous release?

[2019-07-19 20:22] raelgc commented on #37
I'm investigating this right now.

[2019-07-19 20:36] raelgc commented on #37
Root cause is in line https://github.com/rvm/ubuntu_rvm/blob/master/debian/postinst#L47

For some reason, `/etc/profile.d/rvm.sh` is no more automatically loaded.

[2019-07-20 04:04] jikamens commented on #32
I am having this issue with a fresh rvm install on Ubuntu 19.04.

[2019-07-20 04:06] jikamens commented on #32
This is weird: when I run `apt-get install -y rvm` from a root shell, with all traces of my non-root username (`jik`) eradicated from the environment, when the post-install script runs it still says `Creating local gemsets for jik`. Where does it get that `jik` from, and why is it trying to create local gemsets for a different user from the user running the post-install script?

[2019-07-20 08:01] mpapis commented on #32
Has to be stored in rvm folder, try 'grep -rn jik $rvm_path' of it finds
anything then please cross report to rvm/rvm

On Sat, Jul 20, 2019, 06:06 Jonathan Kamens <notifications@github.com>
wrote:

[2019-07-20 12:44] jikamens commented on #32
?Has to be stored in rvm folder, try `grep -rn jik $rvm_path` of it finds anything then please cross report to rvm/rvm

Nope, that's not it.

The post-install script is looking at the `sudo` group in `/etc/group` and trying to install for everyone in that group using `su`, assuming incorrectly that the `rvm` stuff in the environment will be preserved across `su`:

[code]

Pull request incoming mom

[2019-07-20 18:28] sidahmed-malaoui commented on #37
If your `dpkg` just broke because of the error, and you can't install anything because of it, you can use this temporary fix to remove `rvm` (until it gets fixed) :
[code]

[2019-07-21 11:49] chrishowejones opened #39 "Installation fails for Ubuntu 18.04.2 LTS"
## Description

During install exactly following the instructions in this repo I got this message:

[code]

I have tried this install in BASH shell and ZSH with the exact same result. I've uninstalled and purged rvm and retried several times with the same result. I have gone through my PATH and the results of 'env' and removed or unset everything referencing RVM. I have logged out and restarted se

[2019-07-21 21:58] SuperSandro2000 commented on #39
Same happening on 19.04 Ubuntu.

[2019-07-22 10:18] jmarrec commented on #39
Duplicate of #37

[2019-07-22 15:03] raelgc commented on #37
I published the PR sent by @jikamens and it appears it worked. Can someone on 18.04 test it too?

[2019-07-22 17:59] SuperSandro2000 commented on #37
Installs without errors on 19.04.

[2019-07-22 18:20] raelgc commented on #37
Thanks for the feedback, @SuperSandro2000. I'm publishing the updated package for other releases.

[2019-07-22 19:34] raelgc commented on #32
This is fixed by PR #38

[2019-07-22 19:34] #32 closed

[2019-07-22 19:34] #39 closed

[2019-07-23 12:51] raelgc commented on #35
@wytcld In case you're still facing this issue, please re-open.

[2019-07-23 12:51] #35 closed

[2019-07-23 13:08] SuperSandro2000 commented on #35
FYI I saw this sentence a lot and it always confuses me cause I can't reopen the issue myself.

[2019-07-23 13:23] raelgc commented on #35
If you don't have the permission to re-open, just leave a comment and we'll re-open the issue.

The reason: some users open a defect without enough information, even when requested. If no info is provided after some weeks, we'll close the defect (or re-open if more info is provided). Wide open source projects will have a lot of defects to be handled (usually by few volunteers), so we'll focus on t

[2019-07-23 16:46] amonea commented on #37
I found the same issue on 18.04. Basically, the issue was an obsolete (?) script in /etc/profile.d/rvm.sh

Basically, compared to the same script installed by the bash script, this one has the block with
```# Load user rvmrc configuration, if exist``` moved after the ```#Load RVM if it is installed``` which attempt to use variables used by the former block. Simply move that block up to line 13.

N

[2019-07-23 16:51] amonea commented on #37
It *is* being loaded, but the script itself seems incorrect, as explained in my comment above.

[2019-07-23 18:25] raelgc commented on #37
@amonea Do you mind to open a pull request with this change?

[2019-07-23 18:39] ckrailo commented on #37
I can test changes to this for y'all in WSL Ubuntu 18.04 this evening, I worked around it a couple days ago by commenting those lines out of the postinst script.

[2019-07-23 19:24] amonea commented on #37
@raelgc Sure, I will do a PR with this within the next few hours. Thanks!

[2019-07-23 20:01] amonea commented on #37
@raelgc As far as I can tell, that script is actually generated by a function in the `scripts/functions/installer` script of the original rvm/rvm repository. There's a commit 14 days ago that introduced this behaviour. I strongly suspect that change in script was wrong. Here's the commit:

https://github.com/rvm/rvm/commit/f070ee007bd1c7bbc5fec22d033464a5452cdcbd

I am not sure if I can fix anythi

[2019-07-23 20:39] raelgc commented on #37
@amonea This explains why this suddenly started to happen only on this release.

[2019-07-23 21:58] pkuczynski commented on #37
Apologies, it was my fault. I will revert that change for now. Any suggestion how to fix https://github.com/rvm/rvm/issues/3410?

[2019-07-23 22:03] #37 closed

[2019-07-24 08:23] jmarrec commented on #37
I just tried agian today `sudo apt update && sudo apt install rvm`. The installation seems pretty broken, I can't install any rubies due to permissions issues, and trying to remove rvm fails

[code]

[2019-07-24 10:05] jmarrec commented on #37
Ok I see I have the same problem as @amonea, I read his comment too quickly before, but came to the same conclusion.

Simply move that block up to line 12, right after the "then" and before `export rvm_stored_umask=$(umask)`, since `umask` is stored also in `/etc/rvmrc`.

[2019-07-24 10:08] chrishowejones commented on #37
None of these 'fixes' worked for me on Ubuntu 18.04. I still get:
[code]
on install. Before tryin gto install I have completely uninstalled rvm, checked I removed it from all profiles and paths etc. searched my path for any references to it and removed them all.

[2019-07-24 12:48] amonea commented on #37
If you do not want to edit files manually (and normally you should not have to), install the rpm and then
1. make sure you are in the 'rvm' group (if not: `usermod -G rvm chris`)
2. source `/etc/rvmrc` and `/etc/profile.d/rvm.sh` (order *is* important)
[code]
(that is a dot, space, and then the file name)

and then attempt to use `rvm`

[2019-07-24 14:30] raelgc commented on #37
I just published a new package with the fix provided by RVM.

So, if you're still facing this issue, first uninstall the broken package with:

[code]

If you edited `/etc/profile.d/rvm.sh`, probably you'll need to remove it and try the above commands again.

Then, update and upgrade:

[code]

Check if package version is now `1.29.9-3`.

[2019-07-24 15:30] chrishowejones commented on #37
After following these instructions from @raelgc I get the fo9llowing error:

[code]

[2019-07-26 14:19] raelgc commented on #37
Can someone report if it worked after the latest package update?

[2019-07-26 20:00] amonea commented on #37
@raelgc -- I have just tested it and everything seems fine. Removed the previous version, double-checked all files and references to rvm were no longer existing, installed the new version and everything worked for me without any issues. (the rvm command was present in the path after logging out and back in, and a test install with `rvm install "ruby-2.3.2"` worked flawlessly.

Tested on Ubuntu 18.

[2019-07-31 07:46] gkatsanos commented on #10
Confirming, same problem, logout DID NOT WORK.
Rebooting worked. Please add this to your README! Lost an hour for this.

[2019-07-31 12:46] raelgc commented on #10
@gkatsanos I'll add this to the README. Thanks for your feedback!

[2019-08-13 10:23] rakvium commented on #37
@raelgc it seems like it's still `1.29.9-2` for Ubuntu 18.10. May you please update that package too?

[2019-08-13 12:15] raelgc commented on #37
@rakvium Sorry, but unfortunately the Launchpad interface don't allow me to start a build for no more supported releases ([18.10 ended at July, 18](https://wiki.ubuntu.com/Releases)).

[2019-08-13 17:54] rakvium commented on #37
@raelgc thank you for the information! Will advise to migrate to a supported release.

[2019-08-21 14:21] kuzyo commented on #37
Getting the same issue @chrishowejones. How i can purge rvm and reinstall ?

[2019-08-21 14:59] raelgc commented on #37
@kuzyo Please, which Ubuntu version are you using? Which is the package version and output when you try to install?

[2019-08-22 11:38] kuzyo commented on #37
@raelgc I did get this message on Ubuntu 18.04
[code]
But after trying several time, i will removed every trace of rvm using this advice https://stackoverflow.com/a/15286533. Installation went well for me.
Thanks.

[2019-08-22 12:11] raelgc commented on #37
@kuzyo Thanks for the feedback with link to the solution. I'm glad you solved!

[2019-09-10 08:02] SebCargo commented on #34
I'm having the same problem. I'm using a VM with Debian Stretch. And for some reasons is setting the PPA with eoan as release.

to fix the problem I installed the ppa with the syntax

And

[2019-10-19 17:12] edk opened #40 "missing Release in 19.10"
## Description

Brand new Ubuntu 19.10 in virtualbox gets an error when updating packages with a missing Release file.

## Steps to reproduce

 1. install ubuntu 19.10 (just released!)
 2. follow instructions in readme to install:
[code]

## Expected behavior

## Actual behavior

missing release file for `eoan`

## Environment info

[code]

[2019-10-19 20:39] SuperSandro2000 commented on #40
Just use ``sudo add-apt-repository "deb http://ppa.launchpad.net/rael-gc/rvm/ubuntu disco main"`` for now. The packages are identically anyway.

[2019-10-19 23:55] raelgc commented on #40
Just published for Eoan. Thanks for the reminder, @edk!

[2019-10-19 23:55] #40 closed

[2019-10-19 23:56] raelgc commented on #34
Just published for Eoan, which was released this week.

[2019-10-19 23:56] #34 closed

[2019-11-04 06:46] AntonTrapp commented on #22
Just as info for people who are having the same issue and googling for it:

It is not enough to start a new terminal window, you have to log out from your user account.

[2019-11-11 09:58] simonlennon-advanced commented on #27
Same issue too no proxy

[2019-11-21 19:16] owford opened #41 "Install/remove messages are too verbose"
## Description & Steps to reproduce

When installing/removing the PPA package from the CLI, there are a lot of unusual messages.

## Expected behavior

Cf output below.
Aside from the errors messages (which are another problem) only the usual messages from apt-get should appear.
And yes, somehow the "Thanks for installing [...]" message appears twice.
As far as I can remember, rvm is the only pack

[2019-11-22 07:32] SuperSandro2000 commented on #41
Totally agree with you. There is a reason for install instructions.

[2019-12-02 10:31] egee-irl opened #42 "Instructions on the Readme do not work"
## Description

I followed the instructions word-for-word from the Readme and RVM is not in my path nor does it work at all.

## Steps to reproduce

 1. Follow the steps on the Readme
 2. Logout & Back in
 3. Open a terminal & type `man rvm`

## Expected behavior

Man pages for rvm should appear

## Actual behavior

No manual entry for rvm

## Environment info

[code]

ALSO, the readme states `you

[2019-12-02 12:10] raelgc commented on #42
Hi @egee-irl and thanks for reporting this issue.

What happens when you type `rvm --version`?

About the mismatching info on README and installer, yeap, it's ugly. Fortunately we already have #36 for that, which I'll address in the next release.

[2019-12-02 19:44] egee-irl commented on #42
It says

`Command rvm not found, but there are 21 similar ones.`

[2019-12-02 20:41] SuperSandro2000 commented on #42
It probably added `juno` as a distribution which is not in the ppa. Try changing `/etc/apt/sources.list.d/*rvm*` to `disco` or something that is available.

[2019-12-03 20:15] raelgc commented on #42
@egee-irl any lucky trying the solution pointed by @SuperSandro2000? In fact, you just added the PPA, but as you're using Elementary, `apt` has not matched your system version, so `rvm` package is not installed in your system.

[2019-12-09 23:24] egee-irl commented on #42
elementaryOS is based on Ubuntu LTS which is currently `bionic`. And as such, the entry in the apt sources is correct. It shows:

`deb http://ppa.launchpad.net/rael-gc/rvm/ubuntu bionic main`

[2019-12-10 10:37] raelgc commented on #42
What is the output of `sudo apt install rvm`?

[2019-12-23 21:33] egee-irl commented on #42
![image](https://user-images.githubusercontent.com/6679968/71381560-da82b300-2588-11ea-8ec1-c515bdb50929.png)

[2019-12-24 11:05] raelgc commented on #42
@egee-irl Thanks for the feedback!

Dummy question: had you restarted your system?

What happens if you run `source /etc/profile.d/rvm.sh` and then try call `rvm`?

[2019-12-26 20:47] egee-irl commented on #42
The `rvm.sh` actually wasn't there, despite apt claiming rvm was installed. I reinstalled rvm and the script showed up. After I sourced it, running `which rvm` yielded `/usr/share/rvm/bin/rvm`

[2019-12-30 13:39] denvic69 opened #43 "domen rvm.io expired"

[2019-12-30 14:01] SuperSandro2000 commented on #43
see https://github.com/rvm/rvm/issues/4841

[2019-12-30 14:22] OMGerCoder commented on #43
This is a dupe of #4841.

[2019-12-30 14:36] #43 closed

[2020-01-01 08:08] egee-irl commented on #42
I'm going to close this issue because I think it was some sort of configuration related issue.

It's _possible_ that it could be related to elementaryOS but ultimately I did not find the root cause.

If this happens in the future for people, I recommend:

* Verify the rvm PPA is correctly installed
* Purge rvm with apt
* Reinstall rvm with apt

[2020-01-01 08:08] #42 closed

[2020-02-19 07:52] slyn4ice commented on #37
I am still having the same problem with behavior exactly as reported by @jmarrec . I am unable to create local gemsets. I can use rvm after logout, but after a complete reboot rvm is no longer found.

### Steps to reproduce
sudo apt-add-repository -y ppa:rael-gc/rvm
sudo apt-get update
sudo apt-get install rvm

### Behaviour
Setting up rvm (1.29.9-3) ...
Creating group 'rvm'
Installing RVM to /usr

[2020-02-19 08:00] slyn4ice commented on #37
Update: Just as I posted this I did a last ditch attempt at the purge rvm/ reinstall rvm process and somehow it worked. I can install ruby. There is something fubar either in the installation process or the provided instructions - not sure which. I purged an reinstalled after complete reboots probably 7-8 times. On the 9th it worked.

[2020-02-19 09:37] raelgc commented on #37
@slyn4ice I tested the fresh install few days ago on an AWS server, worked fine. Of course I believe you've found issues, so we need to investigate the reasons.

Did you try install rvm before the package? (I mean, using `rvm.io`?)

[2020-02-26 13:17] FaizanMustafa commented on #15
I had the same problem.. restart the system did the trick for me also.. so if anyone has that problem restart is the way to go

[2020-03-26 14:29] raelgc commented on #36
With the `1.29.10` release, I've removed the warning #3, but forgot about the #1...

[2020-03-26 14:43] ShockwaveNN opened #45 "`Following files may not be writable, so sudo is needed` after upgrade to 1.29.10"
## Description

I just received update on my kubuntu 18.04 via apt-get from rvm 1.29.9-3 to 1.29.10-1 and now in every terminal I opened I receive this error:
[code]
There is was no such error with 1.29.9-3

## Environment info

[code]

[2020-03-26 16:32] raelgc commented on #45
Hi @ShockwaveNN and thanks for reporting this issue.

Please, can you try run this command?

    rvmsudo rvm cleanup all

[2020-03-27 07:07] ShockwaveNN commented on #45
@raelgc Yeah, thanks, seems this helped with my issue and error message is gone

Maybe this should be added in Readme that `In case in any error message please try to run `rvmsudo rvm cleanup all` before reporting issue`

[2020-03-27 07:35] ShockwaveNN commented on #45
Oh, sorry this error gone on opening new terminal, but still present if I call any ruby program.
Except ruby itself
![image](https://user-images.githubusercontent.com/668524/77732778-a7800d80-7016-11ea-99df-22c8a6f447b5.png)

[2020-03-27 17:49] raelgc commented on #45
@ShockwaveNN It was already added in the `README` file.

Which is the permission for this `environment` file?

[2020-03-29 20:35] ryudice commented on #37
this installer is really broken and completely useless, maybe you should reconsider having it as the recommended way to install on ubuntu in the documentation?

[2020-03-29 20:46] raelgc commented on #37
@ryudice Please, can you provide more details?

[2020-03-29 21:32] raelgc commented on #37
@ryudice Just to share: in order to investigate, I've downloaded an 18.04.4 and installed in a Virtualbox instance. Rebooted. Worked fine.

I mean: I need more steps and details to try to reproduce your issue.

Feel free to create a new issue reporting your problem. It'll be a pleasure to help.

If you don't want to use this package, you can install `rvm` as usual: just follow the [rvm.io](https:/

[2020-03-30 07:32] ShockwaveNN commented on #45
@raelgc Seems reboot of my PC fixed the problem

Now permissions is:
[code]
and seems everything is fine.

Yeah, it's in `3. Cannot upgrade to rvm master due Operation not permitted` paragraph. But I think there should be note that in all troubleshooting sessions this command should be performed, if I understand that right

[2020-03-30 13:28] raelgc commented on #45
@ShockwaveNN I agree. I just improved the troubleshooting section item 3.

[2020-03-30 13:29] ShockwaveNN commented on #45
@raelgc to be clear (First I was thinking that reboot is helped me, but actually not) this problem is still actual for me

[2020-03-30 13:34] raelgc commented on #45
@ShockwaveNN Can you try change the owning of the `.rvm` content folder back to you?

    sudo chown -r lobashov:lobashov /home/lobashov/.rvm/

[2020-03-30 13:40] ShockwaveNN commented on #45
@raelgc Yeah, seems this fixed my problem

Only you got a typo - `-R`, capitall letter like this:
[code]

Thank you, I'll close this issue

[2020-03-30 13:40] #45 closed

[2020-03-31 16:48] knzudgt opened #46 "Warning! PATH is not properly set up"
## Description

I installed rvm an year ago following instructions at https://github.com/rvm/ubuntu_rvm.
After the update of the last week, when I run `rvm list`, I receive the following warning message:

    $ rvm list
    Warning! PATH is not properly set up, /home/marco/.rvm/gems/ruby-2.5.1/bin is not at first place.
         Usually this is caused by shell initialization files. Search for PATH

[2020-03-31 18:01] raelgc commented on #46
Hi @knzudgt and thanks for reporting this issue.

Can you, please, try the following solution?

On your `.profile`, **remove** these lines:

[code]

Save and close.

Now edit your `.bashrc` and **add this at the bottom**:

[code]

Logout and login again.

[2020-03-31 19:25] knzudgt commented on #46
@raelgc I made the changes you suggested but I am still receiving the same warning.
Now my $PATH environment variable is:

    $ echo $PATH
    /home/marco/anaconda3/bin:/home/marco/bin:/home/marco/.rvm/gems/ruby-2.5.1/bin:/home/marco/.rvm/gems/ruby-2.5.1@global/bin:/usr/share/rvm/rubies/ruby-2.5.1/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/b

[2020-03-31 19:46] raelgc commented on #46
Right. Thanks for the feedback.

Can you, please, add this to the bottom of `.bashrc` (yes, at bottom again, after the edit we've added previously):

[code]

[2020-03-31 19:54] knzudgt commented on #46
@raelgc : done.
Now $PATH is as follows:

    $ echo $PATH
    /home/marco/.rvm/gems/ruby-2.5.1/bin:/home/marco/anaconda3/bin:/home/marco/bin:/home/marco/.rvm/gems/ruby-2.5.1/bin:/home/marco/.rvm/gems/ruby-2.5.1@global/bin:/usr/share/rvm/rubies/ruby-2.5.1/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/share/rvm/bin:/home/marco/bin

and t

[2020-03-31 20:00] raelgc commented on #46
Good, I'm glad it solve your issue!

Thanks for your feedback again: it's important to help other users in the future.

[2020-03-31 20:35] #46 closed

[2020-04-19 15:19] knzudgt opened #47 "There has been an error fetching the ruby interpreter. Halting the installation."
## Description

I am on a Ubuntu 14.04 machine.
I installed the rvm package for Ubuntu and then I tried to install some rubies. I tried with ruby 2.7.1, ruby 2.6.6, ruby 2.6.0 but all my attempts failed:

[code]

It seems that the installations are failing to create the ruby-*.tar.bz2.part file, because the permission is denied. What is the download location? How can I solve this issue?

## Enviro

[2020-04-19 18:41] raelgc commented on #47
Hi @knzudgt and thanks for reporting this issue.

Had you rebooted?

Case yes, can you try `rvm fix-permissions system` ? (Maybe it'll ask your password).

[2020-04-19 19:44] knzudgt commented on #47
@raelgc thanks, I had to reboot the machine. Now I am able to install rubies.

[2020-04-19 19:47] raelgc commented on #47
You're welcome! I'm glad it worked!

[2020-04-19 19:47] #47 closed

[2020-06-08 12:32] raelgc commented on #46
I noticed this is usually an issue while opening new tabs on gnome terminal. Probably a better fix is just append a `cd .` to `~/.bashrc`.

[2020-06-12 21:36] mcgarrah commented on #37
I'm building system with ruby apps using AWS CloudFormation user-data startup scripts on a current Ubuntu 18.04 LTS.

I've tried variations on the install but it just doesn't work unless I manually do it from a command line and only after a couple attempts. To fix a broken install I can do a "`dpkg --configure rvm`" as root from a command line to clean up the issues but nothing works for a noninte

[2020-07-04 19:45] skchakri commented on #47
worked for me too

[2020-08-12 09:09] jericoluislua commented on #47
Same here, worked like a charm!!

[2020-09-01 12:31] Memphis335 opened #49 "freshly installed 'rvm' problems"
## Description

Followed all of the intructions in the README exactly however if I switch to my deploy user then ruby is using the system version and not version I installed with rvm.

## Environment info

OS: Ubuntu 16.04.7 LTS
rvm -v: 1.29.10

[2020-09-01 12:57] Memphis335 commented on #49
Solved by logging as the the 'other' user. In my case 'deploy' and then running rvm reinstall ruby-2.7.1

[2020-09-01 12:57] #49 closed

[2020-09-24 08:57] martijnhoekstra commented on #37
I don't know what went wrong with my install, but the following led to a working rvm installation for me:

[code]

[2020-10-23 12:07] george-carlin opened #50 "Error running 'requirements_debian_update_system ruby-2.7.0',"
## Description

I followed the README's instructions to install RVM on Ubuntu 20.04, including having restarted my machine, but I get the following error whenever I try to install a Ruby:

[code]

The `log` file mentioned in that error message contains the followign:

<details>
<summary>Click to expand</summary>
<pre>
+requirements_debian_update_system:2> __rvm_try_sudo apt-get --quiet --yes updat

[2020-10-23 12:08] georgemillo commented on #50
(Should add that running `rvm fix-permissions` doesn't make a difference either.)

[2020-10-23 12:26] raelgc commented on #50
Whats the output of `sudo apt update`?

[2020-10-23 12:41] georgemillo commented on #50
[code]

[2020-10-23 12:56] raelgc commented on #50
Interesting, for some reason your `apt` is not reading any Canonical Launchpad PPA (which includes the `rvm` one and others). Are you under a company/university proxy, something like that?

[2020-10-23 13:16] georgemillo commented on #50
Nope, I'm at home using my regular Internet connection. No proxies/VPNs/firewalls that I'm aware of.

I can visit ppa.launchpad.com in my browser, so I don't think I'm blocked from accessing this domain.

[2020-10-23 13:39] raelgc commented on #50
Ok. You'll need to fix your `apt` not reaching the PPAs problem. If not, the alternative would be remove all PPAs from your repositories list, then try to install regular `rvm` instead of the packaged one.

[2020-10-28 16:23] eriko-de commented on #8
Just for anyone who is searching for a way to build a docker image using rvm... Here is my solution, so far:

I was able to install ruby via rvm and using it very seamlessly in a ubuntu docker container by using this Dockerfile:
`FROM ubuntu:16.04

RUN apt-get update && apt-get -y install software-properties-common

##################################### RVM #################################
# Chan

[2020-10-28 16:34] stepanselyuk commented on #8
I checked one of my Dockerfile, and below this is how I solved that issue:
[code]

[2020-10-28 16:48] eriko-de commented on #8
@stepanselyuk does this make ruby available in PATH for all subsequent programs and RUN commands?

[2020-10-28 17:05] stepanselyuk commented on #8
@eriko-de I did not check this, cause I use absolute paths to ruby and so on binaries. If you need it in PATH you can do like this (again, I did not check this):
[code]

[2020-12-16 01:25] darthmooguy opened #51 "Please update the PPA for Ubuntu Groovy Gorilla"
## Description

Hello,

Could you please update the PPA for Ubuntu Groovy Gorilla? The last available version in the PPA is for Ubuntu Focal.

Thanks a lot!

## Environment info

[code]

[2020-12-16 02:21] raelgc commented on #51
Ops, sorry for that. They're in place now. Thanks for raising this issue!

[2020-12-16 02:21] #51 closed

[2021-01-01 20:53] raelgc commented on #36
I changed the package behavior now to follow `rvm`: sudoers are no more automatically added. I added instructions to `README` to guide users.

[2021-01-01 20:53] #36 closed

[2021-01-04 14:29] seighail3 opened #52 "I be fuckign annoying but FUICK THANK YOU!!!"
## Description

## Steps to reproduce

 1. ...
 2. ...
 3. ...

## Expected behavior

## Actual behavior

* [command](https://gist.github.com/...)

## Environment info

[2021-01-04 14:30] seighail3 opened #53 "I be fuckign annoying but FUICK THANK YOU!!!"
I be fuckign annoying but FUICK THANK YOU!!

!!!
!!!

THANK
YPU

THANK YOU

SO
FUCKING
MUCH!

[2021-01-04 18:20] #52 closed

[2021-01-04 18:22] raelgc commented on #53
Hope this is not an issue. I'll close this for now due the lack of details. Feel free to put more details, so I'll reopen it.

[2021-01-04 18:22] #53 closed

[2021-02-01 12:40] ShockwaveNN opened #54 "1.29.12 release?"
rvm 1.29.12 [released 17 days ago](https://github.com/rvm/rvm/releases/tag/1.29.12)

Is there is a planning update to update ppa as well?

[2021-02-01 13:15] pkuczynski commented on #54
@raelgc ?

[2021-02-01 13:16] raelgc commented on #54
I'm working on it right now. I delayed because my expectation was that I was able to solve the binary problems related to the difference between Ubuntu 20.04 and 20.04.1.

[2021-02-01 17:11] raelgc commented on #54
In place now for all supported Ubuntu versions in Launchpad.

[2021-02-01 20:25] #54 closed

[2021-02-02 07:23] ShockwaveNN commented on #54
Can confirm, rvm 1.29.12 is installed on Ubuntu 20.04

[2021-02-02 11:07] raelgc commented on #54
@ShockwaveNN Thanks for the feedback and thanks for opening this issue. And sorry for the delay.

[2021-02-02 11:12] ShockwaveNN commented on #54
@raelgc No worries :+1:

[2021-03-06 18:52] raelgc commented on #31
I just found today in the docker setup commands (I reminded of this issue) that we can run the following command to activate the changes to groups:

    newgrp rvm

[2021-04-02 15:31] mltsy commented on #46
I'm having this same problem, and trying to solve it the way that makes the most sense - what I don't understand is: why is none of this in the installation instructions?  My guess is that it's because it only happens in certain non-standard terminal cases... in my case it's in a VSCode terminal.  Running a normal terminal, and changing to the project dir, it seems to work fine.  Also changing to

[2021-04-12 10:37] stdedos opened #55 "Do not remove `/rubies/` and other pristine/cached data on `remove`"
https://github.com/rvm/ubuntu_rvm/blob/f6da3a5fb8753859a7458e56cc25ad289ec12e76/debian/postrm#L25-L27

This is why we have `apt-get purge` / `apt-get remove --purge`.

PS: I don't know what happens on `apt-get install --reinstall`.

[2021-04-12 13:12] raelgc commented on #55
Hi @stdedos and thanks for opening this issue.

As you can see in the mentioned file, the Ubuntu package is removing only:

- /usr/share/rvm
- /etc/rvmrc
- /etc/profile.d/rvm.sh

Before the these, we run `rvm implode` in `prerm`. Wondering if `rvm implode` is deleting rubies.

https://github.com/rvm/ubuntu_rvm/blob/f6da3a5fb8753859a7458e56cc25ad289ec12e76/debian/prerm#L27

[2021-04-12 13:22] stdedos commented on #55
Hello @raelgc 😀

I don't know if something is wrong with my installation, but `/rubies/` are under `/usr/share/rvm` IIRC.
Therefore `rm -Rf /usr/share/rvm` "means also" `rm -Rf /usr/share/rvm/rubies`.
Or am I wrong to think about that?

I guess implode means also `rm -Rf /usr/share/rvm` (in one way or another).
I understand that any other structure would be a problem:
* `/usr/share/rvm`, `/usr/sha

[2021-04-12 13:30] stdedos commented on #55
To directly answer your implicit question, I don't know 😕
It sounds possible, since the `rvm implode` is also used for the "plain" uninstallation.

[2021-04-12 13:32] raelgc commented on #55
Yeap, you're right: this package install global rubies under `/usr/share/rvm`, but local gemsets.

I'm not sure how to handle the removal without call `rvm implode` (which will remove the rubies too).

[2021-04-12 13:39] stdedos commented on #55
Maybe I should've thought about it deeper.

While "mishandled", it doesn't seem that this would solve the issue (given that `rvm implode` also means `rm -Rf /usr/share/rvm` somehow)

[2021-04-12 14:35] raelgc commented on #55
Maybe we can, instead of rely on `rvm implode`, check which steps it runs, and create a custom removal, keeping the rubies.

[2021-04-13 08:11] stdedos commented on #55
I am not sure if that would be your thing to do.
Maybe it needs to be decided upstream.

@mpapis ^^?

[2021-04-20 16:54] iL53n commented on #47
` rvmsudo rvm install 2.7.1`

[2021-05-19 04:04] gicatalan opened #56 "Please update the PPA for Ubuntu Hirsute Hippo"
## Description

Hello,

could you please update the PPA for Ubuntu Hirsute Hippo? The last available version in the PPA is for Ubuntu Groovy.

Thanks a lot!

## Environment info

[code]

P.S. Déjà vu?

[2021-05-19 14:10] raelgc commented on #56
Hi @gicatalan, thanks for the friendly reminder!

I just published the packages!

[2021-05-19 14:10] #56 closed

[2021-05-21 01:24] archongtv opened #57 "rvm group is not creating during install"
when using PPA repository rvm group is not created in postinst.

[2021-05-21 12:53] raelgc commented on #57
Hi @archongtv.

The group is created by the `rvm` scripts, not by the deb package postinst script.

Just remember that you'll be part of the group only after a logout/login.

[2021-08-04 16:25] #31 closed

[2021-08-04 16:25] #50 closed

[2021-09-08 07:25] ror-prem opened #60 "I created a new mysql user and for rails when i'am running bundle install it gives me this error. How can i fix this, any suggestion or experience with this?"
Using rails 6.1.4.1
Installing mysql2 0.5.3 with native extensions
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /home/palak/.rvm/gems/ruby-3.0.1/gems/mysql2-0.5.3/ext/mysql2
/usr/share/rvm/rubies/ruby-3.0.1/bin/ruby -I /usr/share/rvm/rubies/ruby-3.0.1/lib/ruby/3.0.0 -r ./siteconf20210908-15186-9hidkz.rb
extconf.rb
checking for rb_absint_size()... yes
c

[2021-09-09 20:46] raelgc commented on #60
Hi @ror-prem and thanks for reporting this issue. But this project is focused only in the Ubuntu installer. Once `rvm` is installed, it'll operate the same way as manually installed. Do you mind to open this issue on https://github.com/rvm/rvm?

[2021-09-20 02:33] RafaCypherpunk commented on #47
Many thanks for your help dude

[2021-10-05 19:10] maarxx opened #61 "Command-Line Equivalent for README Step 2 Change Your Terminal Window ?"
For README Step 2 Change Your Terminal Window:

https://github.com/rvm/ubuntu_rvm#2-change-your-terminal-window

Can you include an equivalent command-line way to enable this setting?

I see other methods of getting RVM suggest the following:

`rvm get stable --auto-dotfiles`

But I get the following, which I think might be expected for this method:

[code]

Can you suggest the equivalent command-

[2021-10-06 17:52] raelgc commented on #61
Hi @maarxx and thanks for reporting this. This is not exactly an issue with this installer, but with [rvm](https://github.com/rvm/rvm/issues) itself. Anyway, probably you can run the following to mimic a login session:

    source /etc/profile.d/rvm.sh

[2021-11-23 02:33] dreamerblue commented on #57
@raelgc
Same issue. How to create rvm group by `rvm` scripts? I followed readme to install but fail at step `sudo usermod -a -G rvm $USER`: usermod: group 'rvm' does not exist

[2021-11-24 21:31] raelgc commented on #57
I'm booting a 20.04 vm in order to investigate this issue.

[2021-11-24 21:40] raelgc commented on #57
After run `sudo apt install rvm` this is my output:

[code]

Are you guys running standard Ubuntu 20.04?

[2021-11-24 21:40] #57 closed

[2021-11-25 10:23] gdandersson commented on #27
Same problem, in a virtual machine with no proxy. On ARM64, if that matters.

[2021-11-26 12:02] dreamerblue commented on #57
Thanks for test, I found install via shell script may cause the issue (I am configuring a script to auto-install RVM in my workflow).

I tested on Ubuntu 20.04 and compared between manually installation and script installation. The Manually installation is ok but script failed.

My script:
[code]

Output:
[code]

[2021-12-08 22:55] joshbranham commented on #57
Running into the same issue with Ubuntu and Docker. Tried both `focal` and `18.04` tags as well.

[code]

Docker build output:
[code]

Does this have something to do with the package being install by a root user? I do this same thing in an AMI for EC2 without issue.

[2021-12-09 16:29] raelgc commented on #57
@joshbranham Yes, it's related to the `root` usage. And not related to the Ubuntu installer either. Probably you should open the same issue on `rvm/rvm`.

[2021-12-11 06:27] #60 closed

[2021-12-11 06:28] ror-prem commented on #60
@raelgc thanks for replaying, it got solved.

[2021-12-24 14:38] franciscomasi opened #62 "Please update the PPA for Ubuntu Impish Indri"
# Description

Hello,

could you please update the PPA for Ubuntu Impish Indri? The last available version in the PPA is for Ubuntu Hirsute.

Thanks a lot!

Environment info
[code]

[2021-12-27 19:21] raelgc commented on #62
Hi @franciscomasi, thanks for raising this. Files are in place now. Sorry for the inconvenience.

[2021-12-27 19:21] #62 closed

[2021-12-31 10:58] OmarShawky1 opened #63 "rvm not found in Ubuntu 18.04"
## Description

rvm is not found even after rebooting and following all instructions

## Steps to reproduce

1. follow all instructions until you call `rvm user gemsets
` then,
[code]

* [command](https://gist.github.com/...)

## Environment info

[code]

[2021-12-31 20:46] raelgc commented on #63
Hi @OmarShawky1 and thanks for raising this. Had you followed the steps to add your user to the `rvm` group? Additionally, make sure you're not the `root` user.

[2021-12-31 20:53] OmarShawky1 commented on #63
Yes. Turns out that i needed to source rvm each time.

[2022-01-01 05:55] raelgc commented on #63
I remember that I've faced this one time, while using a deploy service in a remote server. I'll double check here if I can find the details.

[2022-01-30 11:28] smartyjones opened #64 "a lower gid for rvm would be more appropiate"
## Description

When installing the package on ubuntu, it creates group rvm with the next available groupid in the higher of id's. Mostly it will be 1001. I think it would be more appropiate to use the lower id's and create a group with parameter -r or --system for rvm.

## Steps to reproduce

 1. Just install rvm package as described in the README.
 2. cat /etc/group | grep rvm #and check the gid

[2022-01-31 18:51] raelgc commented on #64
Hi @smartyjones, thanks for reporthing issue. I'm glad to know this works on WSL2.

I'm afraid that I cannot help you with this as this repo is only for the Ubuntu package itself and the group creation is performed by `rvm` installer script.

I.e., probably you should raise this issue on [rvm/rvm](https://github.com/rvm/rvm) repo.

[2022-02-05 14:50] raelgc commented on #63
@OmarShawky1 Is your terminal configured to start shell as a login shell? If yes, can you, please, paste the output of your `~/.profile`?

[2022-02-05 17:24] raelgc commented on #63
Or you can just append to your `.bashrc` running this command:

    echo 'source "/etc/profile.d/rvm.sh"' >> ~/.bashrc

[2022-02-11 14:53] biot023 commented on #8
This is driving me mad.
Trying to install RVM and 2.5.1 for a user called 'deploy' in a Dockerfile.
Cannot get the group thing working.
Calling `source` on the rvm script doesn't work as 'deploy'.
I'm possibly missing something obvious but I've been going around in circles so long I no longer trust my own judgement!

[2022-02-12 14:32] OmarShawky1 commented on #63
That is what i actually did :), it worked.

[2022-02-15 18:40] belawalumer commented on #15
Restart worked for me. Thanks

[2022-04-22 20:55] MarcusPetri opened #67 "Ubuntu 22 - Error installing Ruby 2.6.9"
## Description

Problem installing Ruby 2.6.9 with RVM on freshly released Ubuntu 22.04 final version (downloaded and installed 4/22).

## Steps to reproduce

 1. Just try to install Ruby 2.6.9 with RVM package as described in the README.

## Expected behavior

Ruby 2.6.9 installed

## Actual behavior

Just like Readme:
[code]

![Screenshot from 2022-04-22 17-46-21](https://user-images.githubuserc

[2022-04-23 00:20] fsdevblog commented on #67
the same error with 3.x versions..

[2022-04-24 10:34] raelgc commented on #67
@fsdevblog Thanks for raising this and to find a solution!

Optionally, you could install the `openssl` v1 provided with the PPA: `sudo apt install openssl1.0`

[2022-04-24 10:36] raelgc commented on #67
As this repository is dedicated to the Ubuntu installer, and this is a `rvm` issue, I'll close it. In the case you need more help, please, open it (or check if there is any related issue) in the [rvm](https://github.com/rvm/rvm/) repository.

[2022-04-24 14:05] MarcusPetri commented on #67
I tried before opening the issue

Thanks! Ruby installed! Now I have problem with bundle install:

[code]

[2022-04-27 08:17] MikkelRBech commented on #67
The openssl you've compiled does not have access to the CA certificates. Symlink the certs/ dir to /etc/ssl/certs then it will work.

[2022-04-27 12:30] raelgc commented on #67
@MikkelRBech Hm, interesting, thanks for mentioning that! Basically I kept moving this package during the Ubuntu releases, probably this has changed. I'll check if in the package source I can change those directories. If not, I can change the post install to create those symlinks.

[2022-04-27 14:06] diogeneshas commented on #67
E: Unable to locate package openssl1.0
E: Couldn't find any package by glob 'openssl1.0'

[2022-04-27 17:37] raelgc commented on #67
@diogeneshas The package is available only if you added the PPA.

[2022-04-29 17:04] raelgc commented on #67
Ok, just checking more carefully now: this issue talks about install a recent ruby version. Openssl1 is required only for old rubies. Please, don't install it for new rubies.

This issue should be raised in `rvm` repo.

[2022-04-29 17:42] raelgc commented on #67
I got it fixed by running: `sudo apt install libssl1.0-dev`.

[2022-04-29 17:45] raelgc commented on #67
This appears to be an issue with `rvm` on newest Ubuntu. A recent version of ruby should not require such an old openssl. I'll try open a simular issue and post here.

[2022-04-29 17:51] raelgc commented on #67
@MikkelRBech The openssl I've compiled is 1.0, not 1.1 (so I removed my comment to install the 1.0 from the PPA). I think the issue is that `rvm` relies on `1.1` and Ubuntu 22.04 it's providing a newest version.

Probably one alternative would be something similar: add to the PPA the `1.1` version until `rvm` fixes it..

[2022-04-29 18:36] raelgc commented on #67
Issue on parent repo: https://github.com/rvm/rvm/issues/5209

[2022-04-29 21:24] #67 closed

[2022-04-29 21:31] raelgc commented on #67
@fsdevblog I just updated your solution to use openssl1.1 version `n` (instead of version `c`).

[2022-05-09 16:50] #64 closed

[2022-05-17 10:42] raelgc commented on #67
If anyone is willed to test my compiled rubies, please try the following:

[code]

There is a `3.0.4` binary too, just replace the `2.7.6` in the above commands.

Please, give feedback. If it works, I'll publish as compiled binaries in `rvm`.

[2022-05-23 17:04] raelgc commented on #67
Ok, finally I've backported `openssl1.1` to **22.04** for those using the PPA.

You want, after `sudo apt update`, downgrade `libssl-dev` with:

[code]

[2022-05-24 08:34] kidlab commented on #67
@raelgc Thanks for the tip, it worked well for me :+1:

[2022-06-02 14:13] sixtyfive opened #68 "Not working yet in Ubuntu 22.10?"
Following along the README I get:

[code]

[2022-06-02 14:39] raelgc commented on #68
Hi @sixtyfive and thanks for reporting this issue. Indeed, I forgot to publish for Kinectic. They're in place now. Please, can you try again?

[2022-06-02 17:45] #68 closed

[2022-06-03 10:41] sixtyfive commented on #68
Worked like a charm, thanks @raelgc! :-)

[2022-08-04 23:48] olariuromeo opened #70 "GPG Error"
## Description

## Steps to reproduce

sudo apt-get install software-properties-common
sudo apt-add-repository -y ppa:rael-gc/rvm
sudo apt-get update
sudo apt-get install rvm

 W: GPG error: http://ppa.launchpad.net/rael-gc/rvm/ubuntu kinetic InRelease: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 8094BB14F4E3FBBE

## Expected behavior

## Actual

[2022-08-09 14:13] OleStan opened #71 "Absent `~/.rvm` on Ubuntu 22.04 LTS"
## Description

I have installed rvm 1.29.12 on Ubuntu 22.04 LTS, and realize that there is no `~/.rvm`. But I can call rvm in terminal and download ruby versions

## Steps to reproduce

 1. Install rvm
[code]
 2. Install minimal Ruby for Ubuntu 22.04
[code]
 3. Check user directory
`cd ~/.rvm`
4. Get output that `-bash: cd: /home/use/.rvm: No such file or directory`

## Expected behavior

_~/.rvm

[2022-08-12 18:37] perlun opened #72 "`apt-add-repository` example doesn't work on Debian bookworm"
## Description

When adding the PPA repository on Debian, the GPG key is not properly imported.

## Steps to reproduce

[code]

## Expected behavior

The PPA key should be added to the list of trusted keys.

## Actual behavior

The key is not properly added, which results in the following error in `apt-get update`:

[code]

## Environment info

[code]

[2022-08-12 18:43] perlun commented on #72
Downloading the key manually and adding it to the list of trusted keys like this fixed the problem:

[code]

[2022-08-25 09:58] felipelmota commented on #8
@stepanselyuk answer worked for me.

[2022-09-16 04:19] jpriollaud commented on #71
@OleStan This flavor of RVM uses mixed-mode and puts the rvm binaries in /usr/share/rvm instead.
See the very top of the Readme https://github.com/rvm/ubuntu_rvm#rvm-package-for-ubuntu

Some have apparently decided to symlink between ~/.rvm and /usr/share but it's probably not worth it.  Just update your paths everywhere.

[2022-09-30 10:44] DGaffney commented on #67
Great work here - thank you!

[2022-11-16 10:53] ctrlcctrlv opened #73 "Why not just tell users to run `su $USER`?"
Just curious! Instead of the reboot or log in/log out step.

[2022-11-16 11:42] raelgc commented on #73
Because that way you'll run commands as super user and `rvm` doesn't require that. And when you've joined a new group, a logout is required. There are workarounds for that, anyway.

[2022-11-16 11:42] #73 closed

[2022-11-16 12:10] ctrlcctrlv commented on #73
Worked for me. Also you're wrong about what `su` does. The password `su` takes is the current account password, it only is the root password if no login name specified.

[2022-11-18 12:07] raelgc commented on #73
Yes, you're right, it'll basically works like a new login until you close the terminal. I never tested if it'll really load user new groups.

[2022-11-18 12:08] ctrlcctrlv commented on #73
Yup it does :-) that's why I suggested it. It's OK, it's a weird POSIX internal thing. `sudo` = `set user and do` not `superuser-do`!

[2022-11-28 22:22] mike1011 opened #74 "rvm install ruby gives error - Error running '__rvm_make -j4' on Ubuntu 22"
## Description

I am using VirtualBox 7 on my Windows 11 OS to install Ubuntu 22.02.
I am installing rvm for a Ruby on Rails project, which I have done thousand of times earlier too uring rvm, but this one is getting a bit time consuming, so wanted to share it here. I did tried many things listed below but everytime I get **Error running '__rvm_make -j4'**

Things I tried  -

1. Rvm installing/uni

[2022-11-28 22:32] mike1011 commented on #74
I think It might be related to OpenSSL3.0, which is the default version available in Ubuntu 22, which only requires ruby 3+.Need to investigate more on this.
This is a reference of the issue listed on Stackoverflow - [link](https://stackoverflow.com/questions/72179373/cant-install-ruby-via-rvm-error-running-rvm-make-j4-on-ubuntu-22-04)

[2022-11-29 01:05] mike1011 commented on #74
Strange thing now...I am getting - **Segmentation Fault** error when I run rake db commands...during setting up my database.
Maybe issue with rvm and the ruby that is installed....
 Not sure whats wrong...still looking into it.

[code]